.box{
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background-color: aliceblue;
    border-radius: 20px;
}

.normal{
    position: absolute;
    z-index: 8;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 20px;
}

.normal p{
    text-align: center;
    padding-top: 40px;
}

.normal:hover{
    transition: all 3s;
    transition-property: left, top;
    transition-duration: 1s, 1s, 1s;
}

.example1{
    position: absolute;
    z-index: 9;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 20px;
}

.example1 p{
    text-align: center;
    padding-top: 40px;
}


.example2{
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 100px;
    background-color:green;
    border-radius: 20px;
}

.example2 p{

    text-align: center;
    padding-top: 40px;
}

