body{
    background-color: antiquewhite;
    margin: 0 auto;
    
}

.container{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 211, 249);
    box-sizing: border-box;
    border-radius: 20px;
}

.title{
    color: blueviolet;
    padding-top: 20px;
}

.entered-list{
    padding: 10px;
    border: white 2px solid;
    border-bottom: solid 2px blueviolet;
    border-right: solid 2px blueviolet;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;

}

.list-head{
    padding-bottom: 20px;
}

.add-list{
    padding: 10px;
    border: none;
    background-color: white;
    border: solid 2px blueviolet;
    transition: 1s;
    margin: -6px;
    cursor: pointer;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    
    
}

.add-list:hover{
    background-color: blueviolet;
}

.new-item{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.item-btn{
    padding-top: 15px;
}

.item-btn i{
    cursor: pointer;
}



