.container{
    
}

.photos{
    display: flex ;
    flex-wrap: wrap;
    position: absolute;
    
    
}

.photos img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 2s;
    filter: grayscale(100%);
    
}

.photos img{
    
    transition: 2s;
}


.photos img:hover{
    filter: grayscale(0%);
    transform: translate(20px 29px);
    
    
} 
 