*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex   ;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 218, 218);
}



.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding:  10px 20px ;
    background-color: azure;
    border-radius: 30px;
    align-items: center;
    flex-direction:row-reverse;
    
}

.box:hover input{
    width: 200px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 1s;
    background: transparent;
}

.box a{
    color: rgb(81, 83, 69);
    font-size: 18px;
}